/* General styles for the start page */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #4A3F94;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #2e3a87;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1d285e;
}

.background-container {
    margin-top: 20px;
}

.background-container input {
    display: none;
}

.background-container label {
    padding: 10px;
    font-size: 1em;
    color: #4A3F94;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    display: inline-block;
}

.background-container button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #2e3a87;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.background-container button:hover {
    background-color: #1d285e;
}

/* Styles for the game page */
.nickname-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.players-container {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.players-container h3 {
    margin: 0 0 10px;
}

.players-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.players-container li {
    margin: 5px 0;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    margin-top: 100px; /* Adjust margin to fit your layout */
}

.card {
    width: 100px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transition: transform 0.5s;
}

.card.flipped {
    transform: perspective(1000px) rotateY(180deg);
}

.card img, .card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card .back {
    background-color: #2e3a87;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transform: rotateY(180deg);
}
